@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,700;1,400&family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--darkBlue);
    --darkBlue: #141425;
    --lightPeach: rgba(241, 225, 214, 0.755);
    font-family: 'IBM Plex Serif', serif;
}

section {
    background-color: var(--lightPeach);
}

.container {
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 40px;
}

/* Navigation */

nav {
    background-color: var(--darkBlue);
    padding: 0 30px;
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__bar--title {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 500px;
}

.nav__list a {
    font-size: 24px;
    color: white;
}

label {
    font-size: 48px;
}

/* LANDING PAGE */

#landing__page {
    height: 92vh;
}

.landing__page--title {
    text-align: center;
    font-size: 72px;
    padding: 20px 0;
}

.landing__page--para {
    font-size: 28px;
}

.landing__page--description {
    display: flex;
    flex-direction: column;
}

.side__to__side {
    display: flex;
    text-align: center;
}

.paragraph-box {
    width: 50%;
    padding: 40px 10px;
}

.paragraph--bottom {
    text-align: center;
    width: 100%;
}

select {
    padding: 15px 25px;
    border-radius: 20px;
    margin: 25px auto;
}